#container {
  float: left;
  margin: 40px auto;
  overflow: hidden;
  width: 800px;
}

.column {
  float: left;
  width: 50%;
}

#todo-form-add {
  font-size: 20pt;
}

#todo-list {
  background-color: bisque;
  margin-right: 20px;
}

#todo-form label {
  font-weight: bold;
  font-size: 22pt;
}

[draggable=true] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor:move;
}

li:hover:after {
  content: ' (Mettre à la corbeille)';
}