@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
body {
    padding: 20px;
    font-size: 1.3em;
    background-color: #2d2d2d;
    color: white;
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
  }
.good {
  color: green;
}
h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Josefin Slab', serif;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: normal;
}
.navigation {
    width: 500px;
    text-transform: uppercase;
    float: left;
}
.navigation .header {
    padding: 20px;
    width: 432px;
    background-color: #4e5053;
}
.navigation ul {
  margin: 0; 
  padding: 0;
  cursor: pointer;
  border: none;
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  float: right;
}
.navigation ul li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 150px;
  height: 40px;
  margin: 0 2px 2px 0;
  padding: 2px;
  border-radius: 4px;   
  word-wrap: break-word;
  outline: none;
  border: 1px solid gray; 
  background-color: #37383a;
}
.navigation ul li:hover {
 position: relative;
  z-index: 100;
  word-wrap: break-word;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.navigation ul li:focus {
  border: 1px solid #333;
}
.score {
    font-size: 36px;
    margin: 15px;
    color: #afb3b9;
}
.titre {
    font-size: 18px;
}
.titre a {
    text-decoration: none;
    color: #fff;
}
.auteur {
    font-size: 16px;
}
.auteur b {
    color: #afb3b9;
}